<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NerdStyle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produtos
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
           <a class = "dropdown-item" href="#">Mangás</a>
            <ul><a class = "dropdown-item" href="#">One piece Vol. 1000</a></ul>
            <ul><a class = "dropdown-item" href="#">Naruto Vol. 500</a></ul>
            <ul><a class = "dropdown-item" href="#">Boku no hero academia Vol. 197</a></ul>
            <ul><a class = "dropdown-item" href="#">Shingeki no kyojin Vol. 154</a></ul>
            <ul><a class = "dropdown-item" href="#">Neverland Vol. 200</a></ul>
            <li><a class="dropdown-item" href="#">Light Novels</a></li>
            <ul><a class = "dropdown-item" href="#">Sword Art online Vol.1</a></ul>
            <ul><a class = "dropdown-item" href="#">Overlord Vol.2</a></ul>
            <ul><a class = "dropdown-item" href="#">Rakudai kishi no cavalry Vol.3</a></ul>
            <ul><a class = "dropdown-item" href="#">Monogatari Vol.4</a></ul>
            <ul><a class = "dropdown-item" href="#">Re:Zero Vol.5</a></ul>
            <li><a class="dropdown-item" href="#">Animes</a></li>
            <ul><a class = "dropdown-item" href="#">Code Geass DVD</a></ul>
            <ul><a class = "dropdown-item" href="#">Dragon ball DVD</a></ul>
            <ul><a class = "dropdown-item" href="#">Tokyo Ghoul DVD</a></ul>
            <ul><a class = "dropdown-item" href="#">Food Wars DVD</a></ul>
            <ul><a class = "dropdown-item" href="#">Death Note DVD</a></ul>
            <li><a class="dropdown-item" href="#">Cosplay</a></li>
            <ul><a class = "dropdown-item" href="#">Bandana de Konoha</a></ul>
            <ul><a class = "dropdown-item" href="#">Peruca Sasuke Uchiha</a></ul>
            <ul><a class = "dropdown-item" href="#">Escudo capitão américa</a></ul>
            <ul><a class = "dropdown-item" href="#">Armadura homem de ferro</a></ul>
            <ul><a class = "dropdown-item" href="#">Fantasia Homem aranha</a></ul>
            <li><a class="dropdown-item" href="#">Bonecos em miniatura</a></li>
            <ul><a class = "dropdown-item" href="#">Goku</a></ul>
            <ul><a class = "dropdown-item" href="#">Gohan</a></ul>
            <ul><a class = "dropdown-item" href="#">Piccolo</a></ul>
            <ul><a class = "dropdown-item" href="#">Bills</a></ul>
            <ul><a class = "dropdown-item" href="#">Whis</a></ul>
            <li><a class="dropdown-item" href="#">Acessorios</a></li>
            <ul><a class = "dropdown-item" href="#">Anel Sakura</a></ul>
            <ul><a class = "dropdown-item" href="#">Pingente Orochimaru</a></ul>
            <ul><a class = "dropdown-item" href="#">Colar Shikamaru</a></ul>
            <ul><a class = "dropdown-item" href="#">Corrente Choji</a></ul>
            <ul><a class = "dropdown-item" href="#">Brinco Ino</a></ul>
            <li><a class="dropdown-item" href="#">Jogos</a></li>
            <ul><a class = "dropdown-item" href="#">Gears of wars 3</a></ul>
            <ul><a class = "dropdown-item" href="#">Avengers 2</a></ul>
            <ul><a class = "dropdown-item" href="#">Fifa 22</a></ul>
            <ul><a class = "dropdown-item" href="#">Outlast</a></ul>
            <ul><a class = "dropdown-item" href="#">Call of Duty Black ops 2</a></ul>
            <li><a class="dropdown-item" href="#">Comics</a></li>
            <ul><a class = "dropdown-item" href="#">Batman Vol.2</a></ul>
            <ul><a class = "dropdown-item" href="#">SuperMan Vol.4</a></ul>
            <ul><a class = "dropdown-item" href="#">Justice League Vol.6</a></ul>
            <ul><a class = "dropdown-item" href="#">Teen titans Vol.8</a></ul>
            <ul><a class = "dropdown-item" href="#">Overstreet Vol.10</a></ul>
            <li><a class="dropdown-item" href="#">Camisas</a></li>
            <ul><a class = "dropdown-item" href="#">Camisa Clã Uchiha</a></ul>
            <ul><a class = "dropdown-item" href="#">Camisa Clã Uzumaki</a></ul>
            <ul><a class = "dropdown-item" href="#">Camisa Clã Senju</a></ul>
            <ul><a class = "dropdown-item" href="#">Camisa Rikudou Madara</a></ul>
            <ul><a class = "dropdown-item" href="#">Camisa Hulk</a></ul>
            <li><a class="dropdown-item" href="#">Mascaras</a></li>
            <ul><a class = "dropdown-item" href="#">Mascara Kakashi</a></ul>
            <ul><a class = "dropdown-item" href="#">Mascara Homem de ferro</a></ul>
            <ul><a class = "dropdown-item" href="#">Mascara Tobi</a></ul>
            <ul><a class = "dropdown-item" href="#">Mascara Kabuto</a></ul>
            <ul><a class = "dropdown-item" href="#">Mascara The mask</a></ul>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Inicio</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Produto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Duvidas</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item"><a href="#">Produto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Duvidas</li>
  </ol>
</nav>